@charset "UTF-8";
 
 :root{
     --color-black: #1b1b1b;
     --color-white: #fff;
     --color-green: #00c9c9;
     --color-rojo: #e30613;
     --color-amarillo: #ffce00;
     --color-grisclaro: #d3d3d3;
     --color-gris: #7a7a7a;
 }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#dep{
    background-color: #00c9c9;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: #7a7a7a;
    font-weight: bold;
    border: 2px solid;
    border-color: var(--color-gris);
}

.navbar{
    float: left;
    width: 20%;
    height: 100%;
    border: 3px double;
    border-color: var(--color-green);
    overflow: hidden;
    position: fixed;
}

.navbar li{
    text-align: center;
    border: 1px solid;
    border-color: gray;
}

.navbar li a{
    font-size: 20px;
    letter-spacing: 5px;
}

.navbar a{
    background-color: var(--color-gris);
    color: var(--color-white);
    text-decoration: none;
    padding: 6.8%;
    border-top: 2px #7a7a7a;
    border-bottom: 2px #7a7a7a;
    display: block;
}

.navbar a:hover{
    background-color: var(--color-green);
    color: var(--color-gris);
}

#main-doc{
    width: 75%;
    height: 100vh;
    float: right;
    text-align: justify;
    display: block;
    text-align: center;
    padding: 40px 60px 40px 0;
}

p{
    padding: 10px;
}

